table {
    width: 100%;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  } 
  .mat-column-details{
    max-width: 180px !important;
    min-width: 60px !important;
 }

 .icon-color{
  color: #7faefa;
 }
 