<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="logo" class="img-fluid mb-4" />
            <h4 class="mb-3 f-w-400">Sign up</h4>
            <form [formGroup]="signupForm" (ngSubmit)="submit()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="feather icon-user"></i></span>
              <input type="text" class="form-control" formControlName="firstName" placeholder="FirstName" aria-label="FirstName" aria-describedby="basic-addon1" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="feather icon-user"></i></span>
              <input type="text" class="form-control" formControlName="lastName" placeholder="LastName" aria-label="LastName" aria-describedby="basic-addon1" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2"><i class="feather icon-mail"></i></span>
              <input type="email" class="form-control" formControlName="email" placeholder="Email address" aria-label="Username" aria-describedby="basic-addon2" />
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text" id="basic-addon3"><i class="feather icon-phone"></i></span>
              <input type="number" class="form-control" formControlName="phone" placeholder="Phone" aria-label="Phone" aria-describedby="basic-addon3" />
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text" id="basic-addon3"><i class="feather icon-lock"></i></span>
              <input type="password" class="form-control" formControlName="password" placeholder="Password" aria-label="Username" aria-describedby="basic-addon3" />
            </div>            
            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
            </div>
          </form>
            <p class="mb-2">Already have an account? <a [routerLink]="['/auth/signin']" class="f-w-400">Signin</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
